<%- include('layouts/header'); %>
<%- include('layouts/navbar'); %>
    <div style="text-align: center; padding: 30px;">
            <h1> ------------ Matches ------------- </h1>
           <% Matches.forEach((match)=>{ %>
                <h1>
                        <a href="/get-match/<%= match._id %> ">match <%= match.id %> </a>
                </h1>
           <% }) %>
           
    </div>
    <div style="text-align: center; padding: 30px;">
        <h1> ------------ Players ------------- </h1>
       <% Players.forEach((player)=>{ %>
            <h1>
                    <a href="/get-player/<%= player._id %> ">Player Name: <%= player.name %> </a>
            </h1>
       <% }) %>
</div>
</body>
</html>